import(ape)
import(phytools)
import(geomorph)
importFrom(phylolm,three.point.compute,transf.branch.lengths,pruningwise.branching.times,pruningwise.distFromRoot)
export(phylocurve,
       simcurves,
       get_tip_coefficients,
       phylocurve.signal,
       phylocurve.pgls
       )